<%- include('../includes/head.ejs')%> <%-
include('../includes/navigation.ejs')%>
<main class="container mt-4">
  <% if (orders.length > 0) { %>
  <ul>
    <% orders.forEach(order => { %>
    <li>
      <h2 class="is-size-2"># <%= order._id %></h2>
      <ul>
        <% order.products.forEach(p => { %>
        <li><%= p.product.title %> (<%= p.quantity %>)</li>
        <% }) %>
      </ul>
    </li>
    <% }) %>
  </ul>
  <% } else { %>
  <h1 class="is-size-1">Orders</h1>
  <% } %>
</main>
<%- include('../includes/end.ejs')%>
